* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather {
  background-image: url('./assets/day.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.weather.i200 {
  background-image: url('./assets/200.jpg');
}

.weather.i300 {
  background-image: url('./assets/300.jpg');
}

.weather.i500 {
  background-image: url('./assets/500.jpg');
}

.weather.i600 {
  background-image: url('./assets/600.jpg');
}

.weather.i700 {
  background-image: url('./assets/700.jpg');
}

.weather.i800 {
  background-image: url('./assets/800.jpg');
}

.weather.i801 {
  background-image: url('./assets/801.jpg');
}

.weather.icloudy-night {
  background-image: url('./assets/cloudy-night.jpg');
}

.weather.inight {
  background-image: url('./assets/night.jpg');
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .current-weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
}

.text-shadow {
  text-shadow: 3px 3px rgba(8, 56, 83, 0.5);
}

.icon-shadowed {
  width: 150px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.search {
  margin-top: 110px;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.8)
  );
  padding: 25px;
}
